$typography-font-family: 'Poppins', sans-serif !default;

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #373b3e;

$positive: #21ba45;
$negative: #fc133d;
$info: #31ccec;
$warning: #FF902F;

$grey: #7a7c7f;

$text-color: #373b3e;